.header {
    margin-top: none;
    margin-bottom: 20px;
    font-style: italic;
    font-size: xx-large;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-image: url("/books.jpg");
    background-attachment: fixed;
    background-size: cover;
}