.navbar {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem 0.5rem 2rem;
  background-color: #f6e6a3;
  border-top: 5px solid goldenrod;
  border-bottom: 5px solid goldenrod;
}

.navbar .nav-stats {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.9rem;
}

.navbar .nav-home {
  display: flex;
  font-size: 2rem;
}

.navbar .nav-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.7rem;
}